html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    margin: 0px;
}

header{
    background-image: url('./ing/header.jpg');
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

.rowh-header{
    padding: 1rem 0 3rem 0;
    display:  flex;
    justify-content: space-between;
}

h1{
    font-size: 3.8rem;
    background-color: white;
}